{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}


{% block page %}


    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="list">
                {{ form_start(form) }}
                <table>

                    <tr>
                        <td>{{ 'Nom championnat (ID)' }}</td>
                        <td>
                            {{ form_widget(form.nomChampionat) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Nom complet du championnat' }}</td>
                        <td>
                            {{ form_widget(form.fullNameChampionat) }}

                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Rang' }}</td>
                        <td>
                            {{ form_widget(form.rang) }}
                            {{ form_errors(form.rang) }}
                        </td>
                    </tr>
                 {#   <tr>
                        <td>{{ 'Type de championnat' }}</td>
                        <td>
                            {{ form_widget(form.typeChampionat) }}

                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Saison championnat' }}</td>
                        <td>
                            {{ form_widget(form.season) }}

                        </td>
                    </tr>#}
                  {#  <tr>

                        <td>{{ 'Date de début valide du championnat' }}</td>
                        <td>
                            {{ form_widget(form.dateDebutChampionat) }}

                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Date fin valide du championnat' }}</td>
                        <td>
                            {{ form_widget(form.dateFinaleChampionat) }}

                        </td>
                    </tr>#}
                    <tr>
                        <td>{{ 'Pays' }}</td>
                        <td>
                            {{ form_widget(form.pays) }}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-primary" value="{{ 'Enregistrer' }}"/>
                        </td>
                    </tr>
                </table>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}