{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}


{% block page %}

    <div class="sous-menu-page">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="link">
                    {% if droitAdmin.lecture is defined and droitAdmin.lecture %}
                        <span class="glyphicon glyphicon-list green" aria-hidden="true"></span>
                        <a href="{{ path('list_championat') }}">{{ 'Liste des championnats'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="list">
                {{ form_start(form) }}
                <table>

                    <tr>
                        <td>{{ 'Nom championat (ID)' }}</td>
                        <td>
                            {{ form_widget(form.nomChampionat) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Nom complet du championat' }}</td>
                        <td>
                            {{ form_widget(form.fullNameChampionat) }}

                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Type de championat' }}</td>
                        <td>
                            {{ form_widget(form.typeChampionat) }}

                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Saison championat' }}</td>
                        <td>
                            {{ form_widget(form.season) }}

                        </td>
                    </tr>
                    <tr>

                        <td>{{ 'Date de début valide du championat' }}</td>
                        <td>
                            {{ form_widget(form.dateDebutChampionat) }}

                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Date finale valide du championat' }}</td>
                        <td>
                            {{ form_widget(form.dateFinaleChampionat) }}

                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Pays' }}</td>
                        <td>
                            {{ form_widget(form.pays) }}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-primary" value="{{ 'Enregistrer' }}"/>
                        </td>
                    </tr>
                </table>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}