{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}
<div class="col-lg-12">
   {# <div class="box-header-response">
        {{ 'Ajouter des matchs'|trans }}
        {% include '@BackAdmin/Matchs/sous_menu.html.twig' %}
    </div>#}

    <div class="col-lg-12">
        <div class="list">
            <div class="form-filter">
            </div>
            <div class="list">
                <table>
                    <tr>
                        <td>Numero</td>
                        <td>Nom du concours</td>
                        <td>Date Debut</td>
                        <td>Date Fin</td>
                        <td>Matchs affiliés</td>
                        <td>Total Matchs</td>
                        <td>Matchs Finis </td>
                        <td>Matchs Actives</td>
                        <td>Matchs Non commencés</td>
                    </tr>
                    <tr>
                        <td>{{ entity.numero }}</td>
                        <td>
                            {{ entity.nomConcours }}
                        </td>
                        <td>
                            {{ entity.dateDebut|date('d/m/Y') }}
                        </td>
                        <td>
                            {{ entity.dateFinale|date('d/m/Y') }}
                        </td>
                        <td>
                            {{ entity.getMatchs() | length }}
                        </td>
                        <td>{{ totalMatchs }}</td>
                        <td>{{ matchFinished }}</td>
                        <td>{{ matchActive }}</td>
                        <td>{{ matchNonStarted }}</td>
                    </tr>
                </table>
                <br/><br/>

                <div class="search">
                    <div class="search-matchs">
                        <form action="" method="post">

                        {# Date debut#}
      {#                  {% if searchValue is defined and searchValue is not empty and searchValue.dateDebut is defined %}
                         <span class="label black">{{ 'Date Début' }}</span> <input id="dateFinale" type="text" name="dateDebut" class="datepic"
                                                      value="{{ searchValue.dateDebut }}"/>
                        {% else %}
                            <span class="label black">   {{ 'Date Debut' }}</span> <input type="text" name="dateDebut" class="datepic"/>
                        {% endif %}

                        &#123;&#35; Date finale &#35;&#125;
                        {% if searchValue is defined and searchValue is not empty and searchValue.dateFinale is defined %}
                            <span class="label black">{{ 'Date Fin' }}</span> <input type="text" name="dateFinale" class="datepic"
                                                       value="{{ searchValue.dateFinale }}"/>
                        {% else %}
                            <span class="label black">{{ 'Date Fin' }}</span> <input id="dateFinale" type="text" name="dateFinale" class="datepic"/>
                        {% endif %}#}

                            <span class="label black">{{ 'Championnat'|trans }}</span>
                        <select name="championat_match" id="championat_match">


                            {% if searchValue is defined and searchValue is not empty and searchValue.championat_match is defined %}
                                <option value="{{ searchValue.championat_match }}">{{ searchValue.championat_match }}</option>
                                {% for rowChampionat  in championat %}
                                    <option value="{{ rowChampionat.fullNameChampionat }}">{{ rowChampionat.fullNameChampionat }}</option>
                                {% endfor %}
                            {% else %}
                                <option value=""></option>
                                {% for rowChampionat  in championat %}
                                    <option value="{{ rowChampionat.fullNameChampionat }}">{{ rowChampionat.fullNameChampionat }}</option>
                                {% endfor %}

                            {% endif %}
                        </select>
                        <span class="label black">{{ 'Pays' }}</span>
                        <select name="pays_match" id="pays_match">
                            {% if searchValue is defined and searchValue is not empty and searchValue.pays_match is defined %}
                                <option value="{{ searchValue.pays_match }}">{{ searchValue.pays_match }}</option>
                                <option value=""></option>
                                {% for rowPays in pays %}
                                    <option value="{{ rowPays.pays }}">{{ rowPays.pays }}</option>
                                {% endfor %}
                            {% else %}
                                <option value=""></option>
                                {% for rowPays in pays %}
                                    <option value="{{ rowPays.pays }}">{{ rowPays.pays }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>

                            <span class="label black">{{ 'Statut' }}</span>
                            <select name="status_match" id="status_match">
                                {% if searchValue.status_match is defined and searchValue.status_match %}
                                    <option value="{{ searchValue.status_match }}">{{ searchValue.status_match }}</option>
                                {% endif %}
                                <option value=""></option>
                                <option value="active">Active</option>
                                <option value="not_started">Non Commencé</option>
                                <option value="finished">Terminé</option>
                                <option value="postphoned">Reporté</option>

                            </select>
                            {{ "Matchs selectionnés" }}
                            {% if withSelection is defined and withSelection %}
                                <input id="withSelection" type="checkbox" name="withSelection" checked="true"/>
                            {% else %}
                                <input id="withSelection" type="checkbox" name="withSelection" />

                            {% endif %}

                        <input class="mybtn" type="submit" value="{{ 'Rechercher les matchs' }}"/>
                            <span class="glyphicon glyphicon-remove red"></span>
                            <a id="withSelection" href="#" id="cancelFiltre" onclick="cancelForm();">Annuler filtres</a>


                        {% if matchs is defined and matchs is not null %}

                        <table>
                            <tr>
                                <td>Selection</td>
                                <td>Date</td>
                                <td>{{ 'Championnat' }}</td>
                                <td>Equipe 1</td>
                                <td>Score</td>
                                <td>Equipe 2</td>
                                <td>{{ 'Statut' }}</td>
                                <td>Pronostic</td>
                                {#<td>Statut</td>#}
                            </tr>
                            {% if withSelection is defined and withSelection == true %}
                                {% for rowMatchs in matchs %}
                                    {% for concour in rowMatchs.concours %}
                                        {% if concour.id == entity.id %}
                                            {% set row_selected = 1 %}
                                            {% if row_selected == 1 %}
                                                <tr class="selected">
                                                <td>
                                                    <a onclick="return supprimer('Etes vous sur de vouloir supprimer ce match ?')"
                                                       href="{{ path('remove_match_concours',{'idConcours':entity.id, 'id':rowMatchs.id} ) }}">
                                            <span class="glyphicon glyphicon-remove-circle red"
                                                  aria-hidden="true"></span>
                                                    </a>
                                                </td>

                                                {#{% else %}#}
                                            {% elseif rowMatchs.statusMatch is defined and rowMatchs.statusMatch == 'active' and row_selected != 1 %}
                                                <tr class="active">
                                                <td>
                                                    <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                                </td>
                                            {% elseif rowMatchs.statusMatch is defined and rowMatchs.statusMatch == 'not_started' and row_selected != 1 %}
                                                <tr class="not_started">
                                                <td>
                                                    <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                                </td>
                                            {% elseif rowMatchs.statusMatch is defined and rowMatchs.statusMatch == 'finished' and row_selected != 1 %}
                                                <tr class="finished">
                                                <td>
                                                    <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                                </td>
                                            {% elseif rowMatchs.statusMatch is defined and rowMatchs.statusMatch == 'postphoned' and row_selected != 1 %}
                                                <tr class="postphoned">
                                                <td>
                                                    <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                                </td>
                                            {% else %}
                                                <tr class="">
                                                <td>
                                                    <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                                </td>
                                            {% endif %}
                                            <td>
                                                {{ rowMatchs.dateMatch|date('d/m/Y h:i') }}
                                            </td>
                                            <td>
                                                {{ rowMatchs.championat.fullNameChampionat }}
                                            </td>
                                            <td>{{ rowMatchs.equipeDomicile }}</td>
                                            <td>
                                                {{ rowMatchs.score }}
                                            </td>
                                            <td>
                                                {{ rowMatchs.equipeVisiteur }}
                                            </td>
                                            <td>
                                                {{ rowMatchs.statusMatch }}
                                                <input type="hidden" name="idMatch" value="{{ rowMatchs.id }}"/>
                                            </td>

                                            <td>

                                                <form method="post" action="">
                                                    <table class="table-matchs">
                                                        <tr>
                                                            <td>
                                                                {% if rowMatchs.masterProno1 is defined and rowMatchs.masterProno1 == true %}
                                                                    <input type="checkbox" name="c_host_{{ rowMatchs.id }}"
                                                                           checked="true"/> 1
                                                                {% else %}
                                                                    <input type="checkbox" name="c_host_{{ rowMatchs.id }}"/> 1

                                                                {% endif %}
                                                                {% if rowMatchs.cot1Pronostic is defined and rowMatchs.cot1Pronostic %}
                                                                    <input class="cote" type="text" name="cote1_{{ rowMatchs.id }}"
                                                                           value="{{ rowMatchs.cot1Pronostic }}"/>

                                                                {% else %}
                                                                    <input class="cote" type="text" name="cote1_{{ rowMatchs.id }}"/>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if rowMatchs.masterPronoN is defined and rowMatchs.masterPronoN == true %}
                                                                    <input type="checkbox" name="c_neutre_{{ rowMatchs.id }}"
                                                                           checked="true"/> N

                                                                {% else %}
                                                                    <input type="checkbox" name="c_neutre_{{ rowMatchs.id }}"/> N
                                                                {% endif %}

                                                                {% if rowMatchs.coteNPronistic is defined and rowMatchs.coteNPronistic %}
                                                                    <input class="cote" type="text" name="coten_{{ rowMatchs.id }}"
                                                                           value="{{ rowMatchs.coteNPronistic }}"/>
                                                                {% else %}
                                                                    <input class="cote" type="text" name="coten_{{ rowMatchs.id }}"/>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if rowMatchs.masterProno2 is defined and rowMatchs.masterProno2 == true %}
                                                                    <input type="checkbox" name="guest_{{ rowMatchs.id }}" checked="true"/> 2
                                                                {% else %}
                                                                    <input type="checkbox" name="c_guest_{{ rowMatchs.id }}"/> 2
                                                                {% endif %}
                                                                <input type="hidden" name="identifiant" value="{{ rowMatchs.id }}"/>
                                                                {% if rowMatchs.cote2Pronostic is defined and  rowMatchs.cote2Pronostic %}

                                                                    <input class="cote" type="text" name="cote2_{{ rowMatchs.id }}"
                                                                           value="{{ rowMatchs.cote2Pronostic }}"/>

                                                                {% else %}
                                                                    <input class="cote" type="text" name="cote2_{{ rowMatchs.id }}"/>
                                                                {% endif %}
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">
                                                                {% if droitAdmin.ajout is defined and droitAdmin.ajout == true or droitAdmin.modification is defined and droitAdmin.modification == true %}
                                                                    <input id="send-prono" type="submit" value="{{ 'Valider' }}"/>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </form>

                                                {#<a href="#">{{ 'Enregister'|trans }}</a>#}
                                            </td>
                                            </tr>

                                        {% endif %}

                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                            {% for rowMatchs in matchs %}
                                {% set row_selected = 0 %}
                                {% for concour in rowMatchs.concours %}
                                    {% if concour.id == entity.id %}
                                        {% set row_selected = 1 %}
                                    {% endif %}

                                {% endfor %}
                                {% if row_selected == 1 %}
                                    <tr class="selected">
                                    <td>
                                        <a onclick="return supprimer('Etes vous sur de vouloir supprimer ce match ?')"
                                           href="{{ path('remove_match_concours',{'idConcours':entity.id, 'id':rowMatchs.id} ) }}">
                                            <span class="glyphicon glyphicon-remove-circle red"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </td>

                                {#{% else %}#}
                                {% elseif rowMatchs.statusMatch is defined and rowMatchs.statusMatch == 'active' and row_selected != 1 %}
                                    <tr class="active">
                                    <td>
                                        <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                    </td>
                                {% elseif rowMatchs.statusMatch is defined and rowMatchs.statusMatch == 'not_started' and row_selected != 1 %}
                                    <tr class="not_started">
                                    <td>
                                        <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                    </td>
                                {% elseif rowMatchs.statusMatch is defined and rowMatchs.statusMatch == 'finished' and row_selected != 1 %}
                                    <tr class="finished">
                                    <td>
                                        <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                    </td>
                                {% elseif rowMatchs.statusMatch is defined and rowMatchs.statusMatch == 'postphoned' and row_selected != 1 %}
                                    <tr class="postphoned">
                                    <td>
                                        <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                    </td>
                                {% else %}
                                    <tr class="">
                                    <td>
                                        <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                    </td>
                                {% endif %}
                                <td>
                                    {{ rowMatchs.dateMatch|date('d/m/Y h:i') }}
                                </td>
                                <td>
                                    {{ rowMatchs.championat.fullNameChampionat }}
                                </td>
                                <td>{{ rowMatchs.equipeDomicile }}</td>
                                <td>
                                    {{ rowMatchs.score }}
                                </td>
                                <td>
                                    {{ rowMatchs.equipeVisiteur }}
                                </td>
                                <td>
                                    {{ rowMatchs.statusMatch }}
                                    <input type="hidden" name="idMatch" value="{{ rowMatchs.id }}"/>
                                </td>

                                <td>

                                    <form method="post" action="">
                                        <table class="table-matchs">
                                            <tr>
                                                <td>
                                                    {% if rowMatchs.masterProno1 is defined and rowMatchs.masterProno1 == true %}
                                                        <input type="checkbox" name="c_host_{{ rowMatchs.id }}"
                                                               checked="true"/> 1
                                                    {% else %}
                                                        <input type="checkbox" name="c_host_{{ rowMatchs.id }}"/> 1

                                                    {% endif %}
                                                    {% if rowMatchs.cot1Pronostic is defined and rowMatchs.cot1Pronostic %}
                                                        <input class="cote" type="text" name="cote1_{{ rowMatchs.id }}"
                                                               value="{{ rowMatchs.cot1Pronostic }}"/>

                                                    {% else %}
                                                        <input class="cote" type="text" name="cote1_{{ rowMatchs.id }}"/>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if rowMatchs.masterPronoN is defined and rowMatchs.masterPronoN == true %}
                                                        <input type="checkbox" name="c_neutre_{{ rowMatchs.id }}"
                                                               checked="true"/> N

                                                    {% else %}
                                                        <input type="checkbox" name="c_neutre_{{ rowMatchs.id }}"/> N
                                                    {% endif %}

                                                    {% if rowMatchs.coteNPronistic is defined and rowMatchs.coteNPronistic %}
                                                        <input class="cote" type="text" name="coten_{{ rowMatchs.id }}"
                                                               value="{{ rowMatchs.coteNPronistic }}"/>
                                                    {% else %}
                                                        <input class="cote" type="text" name="coten_{{ rowMatchs.id }}"/>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if rowMatchs.masterProno2 is defined and rowMatchs.masterProno2 == true %}
                                                        <input type="checkbox" name="guest_{{ rowMatchs.id }}" checked="true"/> 2
                                                    {% else %}
                                                        <input type="checkbox" name="c_guest_{{ rowMatchs.id }}"/> 2
                                                    {% endif %}
                                                    <input type="hidden" name="identifiant" value="{{ rowMatchs.id }}"/>
                                                    {% if rowMatchs.cote2Pronostic is defined and  rowMatchs.cote2Pronostic %}

                                                        <input class="cote" type="text" name="cote2_{{ rowMatchs.id }}"
                                                               value="{{ rowMatchs.cote2Pronostic }}"/>

                                                    {% else %}
                                                        <input class="cote" type="text" name="cote2_{{ rowMatchs.id }}"/>
                                                    {% endif %}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    {% if droitAdmin.ajout is defined and droitAdmin.ajout == true or droitAdmin.modification is defined and droitAdmin.modification == true %}
                                                        <input id="send-prono" type="submit" value="{{ 'Valider' }}"/>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </form>

                                    {#<a href="#">{{ 'Enregister'|trans }}</a>#}
                                </td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                        <br/>
                        <input id="addMatch" class="btn btn-primary" type="submit" value="{{ 'Insérer matchs' }}"/>
                        <br/><br/>
                    </form>
                    </div>
                    {% else %}
                        {{ 'Vous devez effectué une recherche des matchs ' }}
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
