{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}
    {#<div class="box-header-response">
        {{ 'Editer concours'|trans }}
    </div>#}
    <div class="col-lg-12">
        <div class="col-lg-8">
            <form method="post" action="">
                <div>
                    {{ form_label(form.numero) }}
                </div>
                <div>
                    {{ form_widget(form.numero) }}
                    {{ form_errors(form.numero) }}

                </div>
                <div>
                    {{ form_label(form.nomConcours) }}
                </div>
                <div>
                    {{ form_widget(form.nomConcours) }}
                    {{ form_errors(form.nomConcours) }}
                </div>

                <div>
                    {{ form_label(form.dateDebut) }}
                </div>
                <div>
                    {{ form_widget(form.dateDebut) }}
                    {{ form_errors(form.dateDebut) }}
                </div>

                <div>
                    {{ form_label(form.dateFinale) }}
                </div>

                <div>
                    {{ form_widget(form.dateFinale) }}
                    {{ form_errors(form.dateFinale) }}
                </div>


                {{ form_rest(form) }}
                <div>
                    <input class="btn btn-primary " type="submit" value="Modifier">
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>

{% endblock %}    
    

