{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    <div class="box-header-response">
        {{ 'Ajouter des matchs'|trans }}
        {% include '@BackAdmin/Matchs/sous_menu.html.twig' %}
    </div>

    <div class="col-lg-12">
        <div class="list">
            <div class="form-filter">

            </div>
            <div class="list">
                <table>
                    <tr>
                        <td>Numero</td>
                        <td>Nom du concours</td>
                        <td>Date Debut</td>
                        <td>Date Finale</td>
                        <td>Nb Matchs</td>
                    </tr>
                    <tr>
                        <td>{{ entity.numero }}</td>
                        <td>
                            {{ entity.nomConcours }}
                        </td>
                        <td>
                            {{ entity.dateDebut|date('d/m/Y') }}
                        </td>
                        <td>
                            {{ entity.dateFinale|date('d/m/Y') }}
                        </td>
                        <td>
                            {{ entity.getMatchs() | length }}
                        </td>
                    </tr>
                </table>
                <br/><br/>

                <div class="search">
                    <form action="" method="post">

                        {# Date debut#}
                        {% if searchValue is defined and searchValue is not empty and searchValue.date_match_debut is defined %}
                            {{ 'Date Début' }} <input type="text" name="date_match_debut" class="datepic"
                                                      value="{{ searchValue.date_match_debut }}"/>
                        {% else %}
                            {{ 'Date Debut' }} <input type="text" name="date_match_debut" class="datepic"/>
                        {% endif %}

                        {# Date finale #}
                        {% if searchValue is defined and searchValue is not empty and searchValue.date_match_finale is defined %}
                            {{ 'Date Finale' }} <input type="text" name="date_match_finale" class="datepic"
                                                       value="{{ searchValue.date_match_finale }}"/>
                        {% else %}
                            {{ 'Date Finale' }} <input type="text" name="date_match_finale" class="datepic"/>
                        {% endif %}

                        {{ 'Championat'|trans }}
                        <select name="championat_match" id="">


                            {% if searchValue is defined and searchValue is not empty and searchValue.championat_match is defined %}
                                <option value="{{ searchValue.championat_match }}">{{ searchValue.championat_match }}</option>
                                {% for rowChampionat  in championat %}
                                    <option value="{{ rowChampionat.fullNameChampionat }}">{{ rowChampionat.fullNameChampionat }}</option>
                                {% endfor %}
                            {% else %}
                                <option value=""></option>
                                {% for rowChampionat  in championat %}
                                    <option value="{{ rowChampionat.fullNameChampionat }}">{{ rowChampionat.fullNameChampionat }}</option>
                                {% endfor %}

                            {% endif %}
                        </select>
                        {{ 'Pays' }}
                        <select name="pays_match" id="">
                            {% if searchValue is defined and searchValue is not empty and searchValue.pays_match is defined %}
                                <option value="{{ searchValue.pays_match }}">{{ searchValue.pays_match }}</option>
                                <option value=""></option>
                                {% for rowPays in pays %}
                                    <option value="{{ rowPays.name }}">{{ rowPays.name }}</option>
                                {% endfor %}
                            {% else %}
                                <option value=""></option>
                                {% for rowPays in pays %}
                                    <option value="{{ rowPays.name }}">{{ rowPays.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>

                        <input type="submit" value="{{ 'Chercher les matchs' }}"/>


                        <br/><br/>
                        {% if matchs is defined and matchs is not null %}

                        <table>
                            <tr>
                                <td>Selection</td>
                                <td>Date</td>
                                <td>Equipe 1</td>
                                <td>Score</td>
                                <td>Equipe 2</td>
                                <td>Status</td>
                            </tr>
                            {% for rowMatchs in matchs %}
                                {% set row_selected = 0 %}
                                {% for concour in rowMatchs.concours %}
                                    {% if concour.id == entity.id %}
                                        {% set row_selected = 1 %}
                                    {% endif %}

                                {% endfor %}
                                {% if row_selected == 1 %}
                                    <tr class="selected">
                                    <td>
                                        <a onclick="return supprimer('Etes vous sur de vouloir supprimer ce match ?')"
                                           href="{{ path('remove_match_concours',{'idConcours':entity.id, 'id':rowMatchs.id} ) }}">
                                            <span class="glyphicon glyphicon-remove-circle red"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </td>

                                {% else %}
                                    <tr class="">
                                    <td>
                                        <input type="checkbox" name="select_{{ rowMatchs.id }}"/>
                                    </td>
                                {% endif %}
                                <td>
                                    {{ rowMatchs.dateMatch|date('d/m/Y h:i') }}
                                </td>
                                <td>{{ rowMatchs.equipeDomicile }}</td>
                                <td>
                                    {{ rowMatchs.score }}
                                </td>
                                <td>
                                    {{ rowMatchs.equipeVisiteur }}
                                </td>
                                <td>
                                    {{ rowMatchs.statusMatch }}
                                    <input type="hidden" name="idMatch" value="{{ rowMatchs.id }}"/>
                                </td>

                                </tr>
                            {% endfor %}
                        </table>
                        <br/>
                        <input id="addMatch" class="btn btn-primary" type="submit" value="{{ 'Insérer matchs' }}"/>
                        <br/><br/>
                    </form>

                    {% else %}
                        {{ 'Vous devez effectué une recherche des matchs ' }}
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
