{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    {#<div class="box-header-response">
        {{ 'Liste des concours'|trans }}
    </div>#}
    <div class="col-lg-12">
    <div class="col-lg-12">

        {% if droitAdmin.ajout is defined and droitAdmin.ajout %}
            <div class="link">
                {% if droitAdmin.lecture is defined and droitAdmin.lecture %}
                    <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
                {% endif %}
            <a href="{{ path('add_concours') }}">{{ 'Ajout concours'|trans }}</a>&nbsp;  &nbsp;
            </div>
        {% endif %}
        <div class="list">
            <table>
                <tr>
                    <td>{{ 'Numero'|trans }}
                        <div class="tri">
                            {#{% set searchValueTriDateAsc= searchValue|merge({'column': 'm.dateMatch', 'tri': 'asc'}) %}
                            {% set searchValueTriDateDesc= searchValue|merge({'column': 'm.dateMatch', 'tri': 'asc'}) %}#}

                            <a href="{{ path('list_concours', {'column': 'numero', 'order': 'asc'} ) }}">
                                <img class="tri" id="up" src="{{ asset('images/up.png') }}" width="16" height="16"
                                     alt="">
                            </a>
                            <a href="{{ path('list_concours', {'column': 'numero', 'order': 'desc'}) }}">
                                <img class="tri" id="up" src="{{ asset('images/down.png') }}" width="16" height="16"
                                     alt="">
                            </a>
                        </div>
                    </td>
                    <td>{{ 'Nom du concours'|trans }} <div class="tri">
                            {#{% set searchValueTriDateAsc= searchValue|merge({'column': 'm.dateMatch', 'tri': 'asc'}) %}
                            {% set searchValueTriDateDesc= searchValue|merge({'column': 'm.dateMatch', 'tri': 'asc'}) %}#}

                            <a href="{{ path('list_concours', {'column': 'nomConcours', 'order': 'asc'} ) }}">
                                <img class="tri" id="up" src="{{ asset('images/up.png') }}" width="16" height="16"
                                     alt="">
                            </a>
                            <a href="{{ path('list_concours', {'column': 'nomConcours', 'order': 'desc'}) }}">
                                <img class="tri" id="up" src="{{ asset('images/down.png') }}" width="16" height="16"
                                     alt="">
                            </a>
                        </div>
                    </td>
                    <td>{{ 'Date Debut'|trans }}
                        <div class="tri">
                            {#{% set searchValueTriDateAsc= searchValue|merge({'column': 'm.dateMatch', 'tri': 'asc'}) %}
                            {% set searchValueTriDateDesc= searchValue|merge({'column': 'm.dateMatch', 'tri': 'asc'}) %}#}

                            <a href="{{ path('list_concours', {'column': 'dateDebut', 'order': 'asc'})  }}">
                                <img class="tri" id="up" src="{{ asset('images/up.png') }}" width="16" height="16"
                                     alt="">
                            </a>
                            <a href="{{ path('list_concours', {'column': 'dateDebut', 'order': 'desc'}) }}">
                                <img class="tri" id="up" src="{{ asset('images/down.png') }}" width="16" height="16"
                                     alt="">
                            </a>
                        </div>
                    </td>
                    <td>{{ 'Date Fin'|trans }}
                        <div class="tri">
                            {#{% set searchValueTriDateAsc= searchValue|merge({'column': 'm.dateMatch', 'tri': 'asc'}) %}
                            {% set searchValueTriDateDesc= searchValue|merge({'column': 'm.dateMatch', 'tri': 'asc'}) %}#}

                            <a href="{{ path('list_concours', {'column': 'dateFinale', 'order': 'asc'} ) }}">
                                <img class="tri" id="up" src="{{ asset('images/up.png') }}" width="16" height="16"
                                     alt="">
                            </a>
                            <a href="{{ path('list_concours', {'column': 'dateFinale', 'order': 'desc'}) }}">
                                <img class="tri" id="up" src="{{ asset('images/down.png') }}" width="16" height="16"
                                     alt="">
                            </a>
                        </div>
                    </td>
                    <td>{{ 'Actions'|trans }}</td>
                </tr>
                {% for row in concours %}
                    <tr>
                        <td>
                            {{ row.numero }}
                        </td>
                        <td>
                            {{ row.nomConcours }}
                        </td>
                        <td>
                            {{ row.dateDebut|date('d-m-Y') }}
                        </td>
                        <td>
                            {{ row.dateFinale|date('d-m-Y') }}
                        </td>
                        <td>
                            {% if droitAdmin.modification is defined and droitAdmin.modification %}
                            <a href="{{ path('edit_concours', {'id': row.id }) }}"> <span class="glyphicon glyphicon-pencil orange" aria-hidden="true"></span> Modifier </a> |
                                {% endif %}
                            {% if droitAdmin.suppression is defined and droitAdmin.suppression  %}
                                <a onclick="return supprimer('Etes vous sur de vouloir supprimer ?');" href="{{ path('remove_concours', {'id': row.id}) }}"><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span> Supprimer </a>
                            {% endif %}
                            {% if droitAdmin.ajout is defined and droitAdmin.ajout %}
                            <a href="{{ path('add_match_concours', {'id': row.id }) }}"><span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>  {{ 'Ajouter match' }}</a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock %}