<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv=Content-Type content="text/html; "><meta name=Generator content="Microsoft Word 15 (filtered medium)"><!--[if !mso]><style>v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style><![endif]--><style><!--
/* Font Definitions */
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-priority:99;
	color:purple;
	text-decoration:underline;}
span.EmailStyle18
	{mso-style-type:personal;
	font-family:"Calibri","sans-serif";
	color:#1F497D;}
span.EmailStyle19
	{mso-style-type:personal-compose;
	font-family:"Calibri","sans-serif";
	color:windowtext;}
.MsoChpDefault
	{mso-style-type:export-only;
	font-family:"Calibri","sans-serif";
	mso-fareast-language:EN-US;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:70.85pt 70.85pt 70.85pt 70.85pt;}
div.WordSection1
	{page:WordSection1;}
--></style><!--[if gte mso 9]><xml>
<o:shapedefaults v:ext="edit" spidmax="1026" />
</xml><![endif]--><!--[if gte mso 9]><xml>
<o:shapelayout v:ext="edit">
<o:idmap v:ext="edit" data="1" />
</o:shapelayout></xml><![endif]--></head>
    <body lang=FR link=blue vlink=purple>
        <div class=WordSection1>
            <div>
                <div>
                    <div>
                        <div align=center>
                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:#E6E6E6'>
                                <tr>
                                    <td valign=top style='padding:0cm 0cm 0cm 0cm;min-width:590px'>
                                        <div align=center>
                                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;max-width:590px!important;width:590px!important'>
                                                <tr>
                                                    <td valign=top style='background:#E6E6E6;padding:0cm 0cm 0cm 0cm;min-width:590px'>
                                                        <div align=center>
                                                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:#E6E6E6;min-width:100%'>
                                                                <tr>
                                                                    <td valign=top style='padding:0cm 0cm 0cm 0cm;max-width:100%;min-width:100%'>
                                                                        <div align=center>
                                                                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:#E6E6E6;min-width:590px'>
                                                                                <tr>
                                                                                    <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                                                                                        <p align=center style='text-align:center'>
                                                                                            <img border=0 width=590 src="{{logo}}">
                                                                                            <o:p></o:p>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign=top style='background:#E6E6E6;padding:0cm 0cm 0cm 0cm'>
                                                        <div align=center>
                                                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:#E6E6E6;min-width:100%'>
                                                                <tr>
                                                                    <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                                                                        <div align=center>
                                                                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:white;max-width:100%;min-width:100%;border-radius:0px'>
                                                                                <tr style='height:15.0pt'>
                                                                                    <td style='padding:0cm 15.0pt 0cm 15.0pt;height:15.0pt'>
                                                                                        <p style='mso-line-height-alt:.75pt'>
                                                                                            <span style='font-size:1.0pt'>&nbsp;<o:p></o:p>
                                                                                            </span>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign=top style='padding:0cm 15.0pt 0cm 15.0pt'>
                                                                                        <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%'>
                                                                                            <tr>
                                                                                                <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                                                                                                    <p><o:p>&nbsp;</o:p></p>
                                                                                                    <table border=0 cellspacing=0 cellpadding=0 align=left width="100%" style='width:100.0%'>
                                                                                                        <tr>
                                                                                                            <td style='padding:0cm 0cm 0cm 0cm'>
                                                                                                                <p align=center style='text-align:center'>
                                                                                                                    <b>
                                                                                                                        <span style='font-size:15.0pt;font-family:"Arial","sans-serif";color:#555555'>
                                                                                                                            Félicitation<strong><span style='font-family:"Arial","sans-serif"'>&nbsp;!</span></strong>                                                                                                                                    
                                                                                                                        </span>
                                                                                                                    </b>
                                                                                                                    <o:p></o:p>
                                                                                                                </p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr style='height:15.0pt'>
                                                                                    <td style='padding:0cm 15.0pt 0cm 15.0pt;height:15.0pt'>
                                                                                        <p style='mso-line-height-alt:.75pt'>
                                                                                            <span style='font-size:1.0pt'>&nbsp;<o:p></o:p></span>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign=top style='background:#E6E6E6;padding:0cm 0cm 0cm 0cm'>
                                                        <div align=center>
                                                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:#E6E6E6;min-width:100%'>
                                                                <tr>
                                                                    <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                                                                        <div align=center>
                                                                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:white;max-width:100%;min-width:100%;border-radius:0px'>
                                                                                <tr style='height:15.0pt'>
                                                                                    <td style='padding:0cm 15.0pt 0cm 15.0pt;height:15.0pt'>
                                                                                        <p style='mso-line-height-alt:.75pt'>
                                                                                            <span style='font-size:1.0pt'>&nbsp;<o:p></o:p></span>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign=top style='padding:0cm 15.0pt 0cm 15.0pt'>
                                                                                        <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%'>
                                                                                            <tr>
                                                                                                <td valign=top style='padding:0cm 15.0pt 0cm 0cm'>
                                                                                                    <table border=0 cellspacing=0 cellpadding=0 align=left width=350 style='width:262.5pt'>
                                                                                                        <tr>
                                                                                                            <td width="100%" valign=top style='width:100.0%;padding:0cm 0cm 0cm 0cm'>
                                                                                                                <p>
                                                                                                                    <img border=0 width=350 id="_x0000_i1027" src="{{lot.image}}">
                                                                                                                        <o:p></o:p>
                                                                                                                </p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                                <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                                                                                                    <table border=0 cellspacing=0 cellpadding=0 align=left width=180 style='width:135.0pt'>
                                                                                                        <tr>
                                                                                                            <td style='padding:0cm 0cm 0cm 0cm'>
                                                                                                                <p>
                                                                                                                    <b><span style='font-size:13.5pt;font-family:"Arial","sans-serif";color:#999999'>{{lot.nomLong}}<o:p></o:p></span></b>
                                                                                                                </p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style='height:7.5pt'>
                                                                                                            <td style='padding:0cm 0cm 0cm 0cm;height:7.5pt'>
                                                                                                                <p style='mso-line-height-alt:.75pt'>
                                                                                                                    <span style='font-size:1.0pt'>&nbsp;<o:p></o:p></span>
                                                                                                                </p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td width=180 style='width:135.0pt;padding:0cm 0cm 0cm 0cm;float:right'>
                                                                                                                <div>
                                                                                                                    <p>
                                                                                                                        <span style='font-size:10.0pt;font-family:"Arial","sans-serif";color:#555555'>Félicitation, vous venez de commander le lot &quot;{{lot.nomLong}}&quot;.<o:p></o:p></span>
                                                                                                                    </p>
                                                                                                                </div>
                                                                                                                <div>
                                                                                                                    <p><span style='font-size:10.0pt;font-family:"Arial","sans-serif";color:#555555'>&nbsp;<o:p></o:p></span></p>
                                                                                                                </div>
                                                                                                                <div>
                                                                                                                    <p><span style='font-size:10.0pt;font-family:"Arial","sans-serif";color:#555555'>Nous préparons votre commande et nous vous tenons au courant de son expédition.<o:p></o:p></span></p>
                                                                                                                </div>
                                                                                                                <div>
                                                                                                                    <p>
                                                                                                                        <span style='font-size:10.0pt;font-family:"Arial","sans-serif";color:#555555'>&nbsp;<o:p></o:p></span></p>
                                                                                                                </div>
                                                                                                                <div>
                                                                                                                    <p>
                                                                                                                        <span style='font-size:10.0pt;font-family:"Arial","sans-serif";color:#555555'>Toutes l'équipe Poulebet vous remercie !<o:p></o:p></span>
                                                                                                                    </p>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr style='height:15.0pt'>
                                                                                    <td style='padding:0cm 15.0pt 0cm 15.0pt;height:15.0pt'>
                                                                                        <p style='mso-line-height-alt:.75pt'>
                                                                                            <span style='font-size:1.0pt'>&nbsp;<o:p></o:p></span>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign=top style='background:#E6E6E6;padding:0cm 0cm 0cm 0cm;min-width:590px'>
                                                        <div align=center>
                                                            <table border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;background:#E6E6E6;min-width:590px'>
                                                                <tr>
                                                                    <td valign=top style='background:#333333;padding:0cm 0cm 0cm 0cm'>
                                                                        <div align=center>
                                                                            <table border=0 cellspacing=0 cellpadding=0 width=590 style='width:442.5pt;min-width:590px'>
                                                                                <tr style='height:15.0pt'>
                                                                                    <td style='padding:0cm 15.0pt 0cm 15.0pt;height:15.0pt'>
                                                                                        <p style='mso-line-height-alt:.75pt'><span style='font-size:1.0pt'>&nbsp;<o:p></o:p></span></p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style='padding:0cm 15.0pt 0cm 15.0pt'>
                                                                                        <div>
                                                                                            <div>
                                                                                                <p align=center style='text-align:center'>
                                                                                                    <span style='font-size:10.0pt;font-family:"Arial","sans-serif";color:#919191'>© {{date}} PouleBet<o:p></o:p></span>
                                                                                                </p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr style='height:15.0pt'>
                                                                                    <td style='padding:0cm 15.0pt 0cm 15.0pt;height:15.0pt'>
                                                                                        <p style='mso-line-height-alt:.75pt'><span style='font-size:1.0pt'>&nbsp;<o:p></o:p></span></p>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td style='padding:0cm 0cm 0cm 0cm'></td>
                                </tr>
                            </table>
                        </div>
                        <p align=center style='text-align:center'>
                            <span style='font-size:7.5pt;color:#727272'><o:p>&nbsp;</o:p></span>
                        </p>
                    </div>
                </div>
                <p><o:p>&nbsp;</o:p></p>
            </div>
        </div>
    </body>
</html>
