{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}
    <div class="col-lg-12">
        <div class="box-header-response">
            {{ 'Modifier un mouvement de crédit'|trans }}
            <div class="clear">

            </div>
        </div>
    </div>
    <div class="box-response">
    <div class="edit-profil-admin">
    {{ form_start(form) }}
    <div class="row">
        <label>{{ form_label(form.entreeCredit) }}</label>
        {{ form_widget(form.entreeCredit) }}
    </div>
    <div class="row">
        <label>{{ form_label(form.sortieCredit) }}</label>
        {{ form_widget(form.sortieCredit) }}
    </div>
    <div class="row">
        <label>{{ form_label(form.credit) }}</label>
        {{ form_widget(form.credit) }}
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="{{ "Enregistrer"|trans }}">
    </div>

    {{ form_end (form) }}
    <div>
    </div>
{% endblock %}