{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}
    <div class="box-header-response">
        {{ 'Listes des Matchs du jour'|trans }}
    </div>
    <br/><br/>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <div class="search">
            <form action="" method="get">
                {{ "Date"|trans }}
                <input type="text" name="date_master_prono" id="datepic"/>
                {{ 'Pays'|trans }}
                <select name="pays_master_prono" id="">
                    <option value=""></option>
                    {% for rowCountry in  country %}
                        <option value="{{ rowCountry.iso }}">{{ rowCountry.name }}</option>
                    {% endfor %}
                </select>
                {{ 'Championat'|trans }}
                <select name="championat_master_prono" id="">
                    <option value=""></option>
                    {% for rowChampionat in championat %}
                        <option value="{{ rowChampionat.nomChampionat }}">
                            {{ rowChampionat.nomChampionat }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="{{ 'Seach'|trans }}"/>
            </form>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
    <br /><br /><br />
    <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        {{ 'Ligue' }}
                    </td>
                    <td>
                        {{ 'Equipe 1' }}
                    </td>
                    <td>
                        {{ 'Equipe 2' }}

                    </td>
                    <td>
                        {{ 'Pronostic' }}

                    </td>
                    <td>
                        {{ 'Côte' }}

                    </td>
                    <td>
                        {{ 'Heure' }}

                    </td>
                    <td>
                        {{ 'Ations' }}

                    </td>
                </tr>
                {% for row in matchs %}
                    <tr>
                        <td>
                            {{ row.championat.nomChampionat }}

                        </td>
                        <td>
                            <div class="flag flag-{{ row.equipeDomicile|lower|slice(0, 2) }}"
                                 alt="{{ row.equipeDomicile }}"></div>
                            {{ row.equipeDomicile }}
                        </td>
                        <td>
                            <div class="flag flag-{{ row.equipeVisiteur|lower|slice(0, 2) }}"
                                 alt="{{ row.equipeVisiteur }}"></div>
                            {{ row.equipeVisiteur }}
                        </td>
                        <td>
                                pronostic
                        </td>
                        <td>
                                cote
                        </td>
                        <td>
                            {{ row.dateMatch|date('h:i') }}
                        </td>
                        <td>
                            <a href="#"> <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span> {{ 'Suppression Master prono'|trans }}</a> &nbsp;  &nbsp;
                        </td>
                    </tr>
                    {% endfor %}
            </table>
    </div>
{% endblock %}