{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    <div class="box-header-response">
        {{ 'Modifier un  lots'|trans }}
    </div>
    <div class="col-lg-12">
        <div class="col-lg-8">
            {{form_start(form)}}
            <div>{{form_label(form.nomLot)}}</div>
            <div>{{form_widget(form.nomLot ,{'attr': {'class': 'form-control'  }})}}</div>
            <div>{{form_label(form.description)}}</div>
            <div>{{form_widget(form.description ,{'attr': {'class': 'form-control'  }})}}</div>
            <div>{{form_label(form.nbPointNecessaire)}}</div>
            <div>{{form_widget(form.nbPointNecessaire ,{'attr': {'class': 'form-control'  }})}}</div>
            <div><label>{{'Image'|trans}}</label></div>
            <div>{{form_widget(form.cheminImage ,{'required': false})}}</div>
            <div><input type="submit" value="Enregistrer" class="btn btn-primary"></div>
            {{form_end(form)}}
        </div>
        <div class="col-lg-2">

        </div>



    </div>
{% endblock %}