{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    {#<div class="box-header-response">
        {{ 'Liste des lots'|trans }}
    </div>#}
    <div class="col-lg-12">
    <div class="col-lg-12">
        {% if droitAdmin.ajout is defined and droitAdmin.ajout %}
            <div class="link">
                <a href="{{ path('add_lots') }}"><span class="glyphicon glyphicon-plus green" aria-hidden="true"></span> {{ 'Ajout lots'|trans }}</a>&nbsp;  &nbsp; |
                <a href="{{ path('index_lots_category') }}">{{ 'Category Lots' }}</a> &nbsp;  &nbsp;
            </div>
        {% elseif droitAdmin.lecture is defined and droitAdmin.lecture %}
        <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
        {% endif %}
        <div class="list">
            Lot: {{ lot.nomLong }}
            <table>
                <tr>
                    <td>{{ 'Nom utilisateur'|trans }}</td>
                    <td>{{ 'Email'|trans }}</td>
                    <td>{{ 'Date mouvement'|trans }}</td>
                    <td>{{ 'Entrée'|trans }}</td>
                    <td>{{ 'Sortie'|trans }}</td>
                    <td>{{ 'Solde' }}</td>
                    <td>{{ 'Adresse de livraison'|trans }}</td>
                    <td>{{ 'Actions'|trans }}</td>
                </tr>
                {% for mvtLot in lot.mvtLots %}
                    {% set address = mvtLot.addressLivraison %}
                    <tr>
                        <td>
                            {{ mvtLot.utilisateur.username }}
                        </td>
                        <td>
                            {{ mvtLot.utilisateur.email }}
                        </td>
                        <td>
                            {{ mvtLot.dateMvtLot|date('d-m-Y') }}
                        </td>
                        <td>
                            {{ mvtLot.entreeLot }}
                        </td>
                        <td>
                            {{ mvtLot.sortieLot }}
                        </td>
                        <td>
                            {{ mvtLot.soldeLot }}
                        </td>
                        <td>
                            {% if mvtLot.entreeLot == 0 and address %}     
                                <dl class="dl-horizontal">
                                    <dt>Pays</dt>
                                    <dd>{{ address.pays.nomPays }}</dd>
                                    <dt>Nom Prénom</dt>
                                    <dd>{{ address.nomcomplet }}</dd>
                                    <dt>Voie</dt>
                                    <dd>{{ address.voie }}</dd>
                                    <dt>Numéro</dt>
                                    <dd>{{ address.numero }}</dd>
                                    <dt>Code Postal</dt>
                                    <dd>{{ address.codePostal }}</dd>
                                    <dt>Ville</dt>
                                    <dd>{{ address.ville }}</dd>
                                    <dt>Région</dt>
                                    <dd>{{ address.region.nom }}</dd>
                                </dl>
                            {% endif %}
                        </td>
                        <td>
                            {% if mvtLot.entreeLot == 0 and address %}
                                {% if droitAdmin.modification is defined and droitAdmin.modification %}
                                    <a href="{{ path('edit_delivery_address', {'id': address.id }) }}"> <span class="glyphicon glyphicon-pencil orange" aria-hidden="true"></span> Modifier Adresse </a> 
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock %}