{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    {#<div class="box-header-response">
        {{ 'Liste des lots'|trans }}
    </div>#}
    <div class="col-lg-12">
    <div class="col-lg-12">
        {% if droitAdmin.lecture is defined and droitAdmin.lecture %}
        <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
        {% endif %}
        {% if droitAdmin.ajout is defined and droitAdmin.ajout %}
            <div class="link">
            <a href="{{ path('add_lots') }}">{{ 'Ajout lots'|trans }}</a>&nbsp;  &nbsp; |
                <a href="{{ path('index_lots_category') }}">{{ 'Category Lots' }}</a> &nbsp;  &nbsp;
            </div>
        {% endif %}
        <div class="list">
            <table>
                <tr>
                    <td>{{ 'Photo'|trans }}</td>
                    <td style="min-width: 200px">{{ 'Nom du lot'|trans }}</td>
                    <td style="max-width: 500px">{{ 'Description'|trans }}</td>
                    <td>{{ 'Nb point nécessaire'|trans }}</td>
                    <td>{{ 'Qté dispo'|trans }}</td>
                    <td>{{ 'Categorie' }}</td>
                    <td style="min-height: 150px;">{{ 'Date de création'|trans }}</td>
                    <td>{{ 'Actions'|trans }}</td>
                </tr>
                {% for row in entities %}
                    <tr>
                        <td>
                            <img class ="lots" src="{{asset('upload/lots/'~row.cheminImage)}}">
                        </td>
                        <td>
                            {{ row.nomLot }}
                        </td>
                        <td>
                            {{ row.description }}
                        </td>
                        <td>{{ row.nbPointNecessaire }}</td>
                        <td>
                            {{ row.getQuantity }}
                        </td>
                        <td>
                            {% if row.lotCategory.category is defined %}
                            {#{{ dump(row.lotCategory) }}#}
                            {{ row.lotCategory.category }}
                                {% endif %}
                        </td>
                        <td>
                            {{ row.createdAt|date('d-m-Y') }}
                        </td>
                        <td>
                            {% if droitAdmin.modification is defined and droitAdmin.modification %}
                            <a href="{{ path('edit_lots', {'id': row.id }) }}"> <span class="glyphicon glyphicon-pencil orange" aria-hidden="true"></span> Modifier </a> |
                                {% endif %}
                            {% if droitAdmin.suppression is defined and droitAdmin.suppression  %}
                                <a onclick="supprimer('Etes vous sur de vouloir supprimer ?');" href="{{ path('remove_lots', {'id': row.id}) }}"><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span> Supprimer </a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock %}