<header>
    <div class="box-top">
        <div class="box-header">
            <a href="#"> LINK </a>

            <div class="box-content">
                <ul class="menu">
                    <li>
                        <img src="{{ asset('images/home.png') }}" alt=""/>
                        <a href="#">{{ 'Accueil'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/List.png') }}" alt=""/>
                        <a href="#">{{ 'Match'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/user.png') }}" alt=""/>
                        <a href="#">{{ 'MASTERPRONO'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/group.png') }}" alt=""/>
                        <a href="#">{{ 'Utilisateurs'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/stat.png') }}" alt=""/>
                        <a href="#">{{ "Statistiques"|trans }}</a>
                    </li>
                    <li>
                        <img src="#" alt=""/>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <img src="#" alt=""/>
                        <a href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>