<header>
    <div class="box-top">
        <div class="box-header col-lg-12">
            <div class="box-content">
                <ul class="menu">
                    <li>
                        <img src="{{ asset('images/home.png') }}" alt=""/>
                        <a href="#">{{ 'Accueil'|trans }}</a>
                    </li>
                    
                    <li>
                        <img src="{{ asset('images/admin.png') }}" alt=""/>
                        <a href="{{ path('index_administrator') }}">{{ 'Administrateurs'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/user.png') }}" alt=""/>
                        <a href="{{ path('index_admin_utilisateur') }}">{{ 'Utilisateurs'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/mail.png') }}" alt=""/>
                        <a href="{{ path('index_admin_parameter') }}">{{ "Gestion Email"|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/match.png') }}" alt=""/>
                        <a href="{{ path('index_admin_match') }}">{{ 'Matchs'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/master-prono.png') }}" alt=""/>
                        <a href="{{ path('index_admin_pronostic') }}">{{ 'Master prono'|trans }}</a>
                    </li>

                    <li>
                        <img src="{{ asset('images/statistique.png') }}" alt=""/>
                        <a href="#">{{ "Statistiques"|trans }}</a>
                    </li>

                    <li>
                        <img src="{{ asset('images/classement.png') }}" alt=""/>
                        <a href="#">{{ 'Classement'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/lot.png') }}" alt=""/>
                        <a href="#">{{ 'Lots concouts'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/param.png') }}" alt=""/>
                        <a href="{{ path('add_admin_mention') }}">{{ 'Parametres'|trans }}</a>
                    </li>
                    <li>
                        <img src="{{ asset('images/push.png') }}" alt=""/>
                        <a href="{{ path('add_notification') }}">{{ 'Notifications'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>