{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    <div class="col-lg-12">
        <div class="box-header-response">
            {{ 'Gestion Emails '|trans }} :
            <div class="link">
                {#{% if is_granted('ROLE_SUPER_ADMIN') %}#}
                {#<a href="&#123;&#35;{{ path('index_administrator') }}&#35;&#125;">{{ 'Parametres Email'|trans }}</a> |#}
                {#{% endif %}#}
                {#<a href="&#123;&#35;{{ path('export_csv_utilisateur') }}&#35;&#125;">{{ 'Ajout Email'|trans }}</a>#}
                {#<a href="{{ path('test_email') }}">{{ 'Test Email'|trans }}</a>#}
            </div>
            <div class="clear">

            </div>
        </div>
    </div>
    {% if currentAdmin.lecture == true   %}
         <div class="box-response">
        <form action="{{ path('index_admin_parameter') }}" method="post">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="parameter-email">
                            {{ form_label(formParameter.emailSite) }}
                            {{ form_widget(formParameter.emailSite) }}
                            
                            {{ form_label(formParameter.nomExpediteur) }}
                            {{ form_widget(formParameter.nomExpediteur) }}
                            
                            {{ form_label(formParameter.seuriteSMTP) }}
                            {{ form_widget(formParameter.seuriteSMTP) }}
                            
                            {{ form_label(formParameter.portSMTP) }}
                            {{ form_widget(formParameter.portSMTP) }}
                            
                            {{ form_label(formParameter.userSMTP) }}
                            {{ form_widget(formParameter.userSMTP) }}
                            
                            {{ form_label(formParameter.passwordSMTP) }}
                            {{ form_widget(formParameter.passwordSMTP) }}
                            
                            {{ form_label(formParameter.serveurSMTP) }}
                            {{ form_widget(formParameter.serveurSMTP) }}

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="adresse-societe">
                            <label>{{ 'Adresse' }} :</label>
                            {{ form_widget(formParameter.adresse_societe) }}
                        </div>
                    </div>
                </div>
            <div class="col-lg-6">

                <div class="template-tmp">
                    <label>{{ 'Template mot de passe temporaire'|trans }}</label>
                    {{ form_widget(formParameter.subject_inscription) }}
                    {{ form_widget(formParameter.template_inscription) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="template-change">
                    <label>{{ 'Template changement de mot de passe'|trans }}</label>
                    {{ form_widget(formParameter.subject_mdp_oublie) }}
                    {{ form_widget(formParameter.template_mdp_oublie) }}
                </div>
            </div>
                {% if currentAdmin.modification ==true or currentAdmin.suppression ==true  or currentAdmin.ajout ==true %}
                <div class="col-lg-12">
                    <input class='btn btn-primary' type="submit" value="{{ 'Enregistrer'|trans }}"/>
                </div>
                {% endif %}
                
        </div>
                {{form_rest(formParameter)}}
        </form>
    </div>
    {% else %}
        <div class="box-response">
            {{ "Vous n' avez pas l' autorisation pour cette page"|trans }}
        </div>
    {% endif %}    
{% endblock %}
