{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    <div class="box-header-response">
        {{ 'Modifier une adresse de livraison'|trans }}
    </div>
    <div class="col-lg-12">
        <div class="col-lg-8">
            {{form_start(form)}}
            <div>{{form_label(form.pays)}}</div>
            <div>{{form_widget(form.pays ,{'attr': {'class': 'form-control'  }})}}</div>
            <div>{{form_label(form.nomcomplet)}}</div>
            <div>{{form_widget(form.nomcomplet ,{'attr': {'class': 'form-control'  }})}}</div>
            <div>{{form_label(form.voie)}}</div> 
            <div>{{form_widget(form.voie ,{'attr': {'class': 'form-control'  }})}}</div>
            <div>{{form_label(form.numero)}}</div>
            <div>{{form_widget(form.numero ,{'attr': {'class': 'form-control'  }})}}</div>
            <div>{{form_label(form.codePostal)}}</div>
            <div>{{form_widget(form.codePostal ,{'attr': {'class': 'form-control'  }})}}</div>
            <div>{{form_label(form.ville)}}</div>
            <div>{{form_widget(form.ville ,{'attr': {'class': 'form-control'  }})}}</div>
            <div>{{form_label(form.region)}}</div>
            <div>{{form_widget(form.region ,{'attr': {'class': 'form-control'  }})}}</div>
            <div><input type="submit" value="Enregistrer" class="btn btn-primary"></div>
            {{form_end(form)}}
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}