{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

<div class="box-header-response">
    {{ 'Listes des droits'|trans }}
</div>
<div class="box-response">
    {{ form_start(form) }}
        <div class="box-textarea">
            {{ 'Mentions Légales'|trans }}<br />
            {{ form_widget(form.mentionLegale, {'attr': {'placeholder': 'Mention légale'  }}) }}
        </div>
        <div class="box-textarea">
            {{ 'CGV'|trans }}<br />
            {{ form_widget(form.cgv, {'attr': {'placeholder': 'CGV' } }) }}
        </div>
        <div class="box-textarea">
            {{ 'CGPS'|trans }}<br />
            {{ form_widget(form.cgps, {'attr': {'placeholder': 'CGPS' } } ) }}
        </div>
        <div class="box-textarea">
            {{ 'CGU'|trans }}<br />
            {{ form_widget(form.cgu, {'attr': {'placeholder': 'CGU' } }) }}
        </div>
        <input type="submit" class="btn" value="{{ 'Send'|trans }}"/>
    {{ form_end(form) }}
</div>
{% endblock %}