{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

<div class="sous-menu-page">
    <div class="col-lg-12">
        <div class="col-lg-12">
            {{ 'Listes des droits'|trans }}
            <div class="link">
                <a href="{{ path('index_facebook') }}">
                    {{ 'Facebook' }}
                </a> &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="{{ path('index_pays') }}">
                    {{ 'Pays' }}
                </a> &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="{{ path('index_region') }}">
                    {{ 'Région' }}
                </a> &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="{{ path('edit_publicite', {'isPopup': 1 } ) }}">
                    {{ 'Popup' }}
                </a> &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="{{ path('edit_publicite', {'isPopup': 0 } ) }}">
                    {{ 'Bannière ' }}
                </a>
            </div>
           {# {% include 'BackAdminBundle:Mention:sous_menu.html.twig' %}#}
        </div>

    </div>
</div>
<div class="box-response">
    {{ form_start(form) }}
        <div class="box-textarea">
            <table class="table">
                <tr>
                    <td>
                        {{ 'appyone_url_login' }}
                    </td>
                    <td>
                        {{ form_widget(form.appyone_url_login) }}
                    </td>
                    <td>
                        {{ 'appyone_username' }}
                    </td>
                    <td>
                        {{ form_widget(form.appyone_username) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'appyone_password' }}
                    </td>
                    <td>
                        {{ form_widget(form.appyone_password) }}
                    </td>
                    <td>
                        {{ 'appyone_nid' }}
                    </td>
                    <td>
                        {{ form_widget(form.appyone_nid) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'appyone_url_details' }}
                    </td>
                    <td>
                        {{ form_widget(form.appyone_url_details) }}
                    </td>
                    <td>
                        {{ 'gcm_url_android' }}
                    </td>
                    <td>
                        {{ form_widget(form.gcm_url_android) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'api_key_apione' }}
                    </td>
                    <td>
                        {{ form_widget(form.api_key_apione) }}
                    </td>
                    <td>
                        {{ 'api_key_goalapi' }}
                    </td>
                    <td>
                        {{ form_widget(form.api_key_goalapi) }}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'appyone_url_liste_application' }}</td>
                    <td>
                        {{ form_widget(form.appyone_url_liste_application) }}
                    </td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
       {# <div class="box-textarea">
            {{ 'Mentions Légales'|trans }}<br />
            {{ form_widget(form.mentionLegale, {'attr': {'placeholder': 'Mention légale'  }}) }}
        </div>#}
        <div class="box-textarea">
            {{ 'CGV'|trans }}<br />
            {{ form_widget(form.cgv, {'attr': {'placeholder': 'CGV' } }) }}
        </div>
        <div class="box-textarea">
            {{ 'CGPS'|trans }}<br />
            {{ form_widget(form.cgps, {'attr': {'placeholder': 'CGPS' } } ) }}
        </div>
        <div class="box-textarea">
            {{ 'CGU'|trans }}<br />
            {{ form_widget(form.cgu, {'attr': {'placeholder': 'CGU' } }) }}
        </div>
        <input type="submit" class="btn btn-primary" value="{{ 'Enregistrer'|trans }}" formnovalidate="true"/>
    {{ form_end(form) }}
</div>
{% endblock %}