{% extends 'BackAdminBundle::layout_match.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    {#<div class="sous-menu-page">
        {% include '@BackAdmin/Matchs/sous_menu.html.twig' %}
    </div>#}
    <br/><br/>
    <div class="col-lg-12">
        {#<div class="col-lg-1">

        </div>#}
        {#{% include 'BackAdminBundle:Matchs:form_search.html.twig' with {'country': country , 'championat': championat} %}#}


        <br/>

        <div class="col-lg-12">
            <div class="header-table">
                {#{{ 'Nombre de match'|trans }} : {{ totalMatch }}#}
                {# <div class="count">
                     <span class="label black">{{ 'Total recherche'|trans }}
                         : {{ pagination.getTotalItemCount }}</span>&nbsp;&nbsp; | &nbsp;&nbsp;
                     <span class="label black">{{ 'Total Matchs Finis'|trans }}
                         : {{ totalItemsFinished }}</span>&nbsp;&nbsp;| &nbsp;&nbsp;
                     <span class="label black">{{ 'Total Matchs Active'|trans }}
                         : {{ totalItemsActif }}</span>&nbsp;&nbsp;| &nbsp;&nbsp;
                     <span class="label black">{{ 'Total Matchs Non commencé'|trans }}
                         : {{ totalItemsNotStarted }}</span>&nbsp;&nbsp;| &nbsp;&nbsp;
                     <span class="label black">{{ 'Total de tous les Matchs'|trans }}
                         : {{ totalItemsMatchs }}</span>&nbsp;&nbsp;


                 </div>#}
            </div>
            <table class="table-list">
                <tr>

                    <th>
                        {{ 'Photo'|trans }}
                    </th>
                    <th>
                        {{ 'Nom'|trans }}
                    </th>
                    <th>
                        {{ 'Prénom'|trans }}
                    </th>
                    <th>
                        {{ 'Classement'|trans }}
                    </th>
                    <th>
                        {{ "Action"|trans }}
                    </th>
                </tr>
                {% if result is defined and result %}
                    {% for row in result %}
                        <tr>
                           <td>
                               <img src="{#{{ asset('upload/') }}#}" alt="" width="50" height="50"/>
                        
                            </td>
                            <td>
                                    {{ row['nom'] }}
                            </td>
                            <td>
                                    {{ row['prenom'] }}
                            </td>
                            <td>
                                {{ row['classement'] }}
                            </td>
                            <td>
                                <a href="{{ path('details_classement', {'id': row['id']}) }}">
                                    {{ 'Détails' }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8"> {{ 'Aucun matchs \'a été trouvé' }}</td>
                    </tr>
                {% endif %}
            </table>
            <div class="space"></div>
        </div>

    </div>

{% endblock %}