{% extends 'BackAdminBundle::layout_match.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}
    <div class="col-lg-12">

        <div class="col-lg-12">
            {{ form_start(form) }}
            <div class="input">
                {{ 'Image' }}
                {{ form_widget(form.imageOeuf) }}
                {{ form_errors(form.imageOeuf) }}
            </div>
            <div class="input">
                {{ 'Tarifs Peufs' }}
                {{ form_widget(form.tarifOeufs) }}
                {{ form_errors(form.tarifOeufs) }}
            </div>
            <div class="input">
                {{ 'Tarifs en Euro' }}
                {{ form_widget(form.tarifEuro) }}
                {{ form_errors(form.tarifEuro) }}
            </div>
            <div class="input">
                {{ 'Product SKU' }}
                {{ form_widget(form.productSKU) }}
                {{ form_errors(form.productSKU) }}
            </div>
            {# <div class="input">
                 {{ 'Image' }}
                 {{ form_widget(form.tarifOeufs) }}
                 {{ form_errors(form.tarifOeufs) }}
             </div>#}
            <div class="input">
                <input type="submit" class="btn btn-primary" value="{{ 'Ajouter'|trans }}"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
