{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    <div class="box-header-response">
        {{ 'Listes des Matchs du jour'|trans }}
        {% include '@BackAdmin/Matchs/sous_menu.html.twig' %}
    </div>

    <div class="col-lg-12">
        <div class="list">
            {{ form_start(form) }}
            <table>

                <tr>
                    <td>{{ 'Nom championat' }}</td>
                    <td>
                        {{ form_widget(form.nomChampionat) }}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Full name championat' }}</td>
                    <td>
                        {{ form_widget(form.fullNameChampionat) }}

                    </td>
                </tr>
                <tr>
                    <td>{{ 'Type de championat' }}</td>
                    <td>
                        {{ form_widget(form.typeChampionat) }}

                    </td>
                </tr>
                <tr>
                    <td>{{ 'Type de championat' }}</td>
                    <td>
                       {{ championat.season }}

                    </td>
                </tr>
                <tr>
                    <td>{{ 'Date début championat' }}</td>
                    <td>
                        {{ form_widget(form.dateDebutChampionat) }}

                    </td>
                </tr>
                <tr>
                    <td>{{ 'Date Fianle championat' }}</td>
                    <td>
                        {{ form_widget(form.dateFinaleChampionat) }}

                    </td>
                </tr>
                <tr>
                    <td>{{ 'Date Fianle championat' }}</td>
                    <td>
                        {{ form_widget(form.teamsPays) }}

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="{{ 'Modifier' }}"/>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}