{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    <div class="box-header-response">
        {{ 'Listes des Matchs du jour'|trans }}
    </div>
    <br/><br/>
    <div class="col-lg-12">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <div class="search-match">
                <form action="" method="get">
                    {{ "Date"|trans }} : <input type="text" name="date_match" id="datepic"/>
                    {{ 'Heure'|trans }}: <input type="text" name="time_match" id="timepic"/>
                    {{ 'Championat'|trans }}:
                    <select class="championat" name="championat_match" id="">
                        <option value=""></option>
                        {% for rowchampinat in championat %}
                            <option value="{{ rowchampinat.nomchampionat }}">{{ rowchampinat.nomchampionat }}</option>
                        {% endfor %}
                    </select>
                    {{ 'Pays'|trans }}:
                    <select class="pays" name="pays_match" id="">
                        <option value=""></option>
                        {% for rowCountry in country %}
                            <option value="{{ rowCountry.iso }}"> {{ rowCountry.name }}  </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{{ 'Mettre à Jour'|trans }}"/>
                </form>
            </div>
        </div>
        <div class="col-lg-1">

        </div>

        <br/>

        <div class="col-lg-12">
            <div class="header-table">
                {#{{ 'Nombre de match'|trans }} : {{ totalMatch }}#}
            </div>
            <table class="table-list">
                <tr>
                    <th>{{ 'Date'|trans }}</th>
                    <th>
                        {{ 'Domicile'|trans }}
                    </th>
                    <th>
                        {{ 'Score'|trans }}
                    </th>
                    <th>
                        {{ 'Visiteur'|trans }}
                    </th>
                    <th>
                        {{ 'Cote 1'|trans }}
                    </th>
                    <th>
                        {{ 'Cote N'|trans }}
                    </th>
                    <th>
                        {{ 'Cote 2'|trans }}
                    </th>
                    <th>
                        {{ 'Status'|trans }}
                    </th>
                    <th>{{ 'Master prono' }}</th>
                    <th>
                        {{ 'Actions'|trans }}
                    </th>
                </tr>
                {% for row in matchs %}

                        <tr>
                            <td>{{ row.dateMatch|date('d/m/Y  - h:i') }}</td>
                            <td>
                                <div class="flag flag-{{ row.equipeDomicile|lower|slice(0, 2) }}"
                                     alt="{{ row.equipeDomicile}}"></div>
                                {{ row.equipeDomicile }}
                            </td>
                            <td>{{ row.score }}</td>
                            <td>
                                <div class="flag flag-{{ row.equipeVisiteur|lower|slice(0, 2) }}"
                                     alt="{{ row.equipeVisiteur }}"></div>
                                {{ row.equipeVisiteur }}
                            </td>
                            <td>{{ row.statusMatch }}</td>
                            <td colspan="5">
                                <form action="" method="post">
                                {% if row.cot1Pronostic is defined and row.cot1Pronostic %}
                                    <input class="cote" type="text" name="cote1_{{ row.id }}" value="{{ row.cot1Pronostic }}"/>

                                {% else %}
                                    <input class="cote" type="text" name="cote1_{{ row.id }}"/>
                                {% endif %}

                                {% if row.coteNPronistic is defined and row.coteNPronistic %}
                                    <input class="cote" type="text" name="coten_{{ row.id }}" value="{{ row.coteNPronistic }}"/>
                                {% else %}
                                    <input class="cote" type="text" name="coten_{{ row.id }}"/>
                                {% endif %}

                                {% if row.cote2Pronostic is defined and  row.cote2Pronostic  %}

                                    <input class="cote" type="text" name="cote2_{{ row.id }}" value="{{ row.cote2Pronostic  }}"/>

                                {% else %}
                                    <input class="cote" type="text" name="cote2_{{ row.id }}"/>
                                {% endif %}
                                        <input type="checkbox" name="c_host_{{ row.id }}"/> 1
                                        <input type="checkbox" name="c_neutre_{{ row.id }}"/> N
                                        {#{% if row.id == true %}#}
                                            {#<input type="checkbox" name="guest_{{ row.id }}" checked="true" /> 2#}
                                        {#{% else %}#}
                                                <input type="checkbox" name="c_guest_{{ row.id }}"/> 2
                                        {#{% endif %}#}
                                    <input type="hidden" name="identifiant" value="{{ row.id }}"/>
                                    <input type="submit" value="{{ 'send' }}"/>
                                </form>

                                {#<a href="#">{{ 'Enregister'|trans }}</a>#}
                            </td>

                        </tr>


                {% endfor %}
            </table>
            <div class="space"></div>
        </div>
    </div>
{% endblock %}