{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    <div class="box-header-response">
        {{ 'Listes des Matchs du jour'|trans }}
        {% include '@BackAdmin/Matchs/sous_menu.html.twig' %}
    </div>

    <div class="col-lg-12">
        <div class="list">
           <table>
               <tr>
                   <td>ID</td>
                   <td>Championat</td>
                   <td>Full Name</td>
                   <td>Type Championat</td>
                   <td>Season</td>
                   <td>{{ "Date début " }}t</td>
                   <td>{{ "Date Finale " }}</td>
                   <td>{{ "Pays" }}</td>
                   <td>{{ "Status" }}</td>
                   <td>{{ "Actions" }}</td>
               </tr>
               {% for row in entities %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>
                        {{ row.nomChampionat }}
                    </td>
                    <td>
                        {{ row.fullNameChampionat }}
                    </td>
                    <td>
                        {{ row.typeChampionat }}
                    </td>
                    <td>
                        {% if row.season is defined and row.season %}
                            {{ row.season }}
                        {% endif %}
                    </td>
                   
                    <td>
                        {{ row.dateDebutChampionat|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ row.dateFinaleChampionat|date('d-m-Y') }}
                    </td>
                    <td>
                       {# {% set today = "now"|date('Y-m-d') %}
                        {% set dateDebutChampionat = row.dateDebutChampionat|date('Y-m-d') %}
                        {% set dateFinaleChampionat = row.dateFinaleChampionat|date('Y-m-d') %}

                        {% if dateDebutChampionat <= today and dateFinaleChampionat >= today %}
                            {% endif %}#}

                        {% for rowPays in row.teamsPays %}
                                {{ rowPays.name }}
                           {% endfor %}
                    </td>
                    <td>

                    </td>
                    <td>
                        {% if droitAdmin.modification is defined and droitAdmin.modification %}
                            <a href="{{ path('edit_championat', {'id': row.id }) }}">
                                <span class="glyphicon glyphicon-pencil orange" aria-hidden="true"></span>
                            </a>
                            {% endif %}
                    </td>

                </tr>

                {% endfor %}
           </table>
        </div>
    </div>
{% endblock %}