{% extends 'BackAdminBundle::layout.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block ariane %} {{ parent() }} {% endblock %}

{% block page %}

    <div class="box-header-response">
        {{ 'Listes des Matchs du jour'|trans }}
        {% include '@BackAdmin/Matchs/sous_menu.html.twig' %}
    </div>

    <div class="col-lg-12">
        <div class="list">
            <table>
                <tr>
                    <td>{{ 'Numero'|trans }}</td>
                    <td>{{ 'LotoFoot'|trans }}</td>
                    <td>{{ 'Fin de validation'|trans }}</td>
                    <td>{{ 'Actions'|trans }}</td>
                </tr>
                {% for row in lotoFoot7 %}
                    <tr>
                        <td>
                            {{ row.numero }}
                        </td>
                        <td>
                            {{ 'Loto Foot 7'|trans }}
                        </td>
                        <td>
                            {{ row.finValidation|date('d-m-Y') }}
                        </td>
                        <td>
                            <a href="{{ path('edit_loto_foot', {'idLotoFoot': 7, 'id': row.id }) }}"><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span> Supprimer </a> |

                            <a href="#"> <span class="glyphicon glyphicon-pencil orange" aria-hidden="true"></span> Modifier </a>
                        </td>
                    </tr>
                {% endfor %}
                {% for row in lotoFoot15 %}
                    <tr>
                        <td>
                            {{ row.numero }}
                        </td>
                        <td>
                            {{ 'Loto Foot 15'|trans }}
                        </td>
                        <td>
                            {{ row.finValidation|date('d-m-Y') }}
                        </td>
                        <td>

                            <a href="{{ path('edit_loto_foot', {'idLotoFoot': 15, 'id': row.id }) }}"><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span> Supprimer </a> |

                            <a href="#"> <span class="glyphicon glyphicon-pencil orange" aria-hidden="true"></span> Modifier </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}